@media screen and (max-width:899px) {
  .desktop-only {
    display: none!important;
  }
}

@media screen and (min-width:900px) {
  .mobile-only {
    display: none!important;
  }
}
.container{
  max-width: min(1300px,100vw);
  margin: 0 auto;
  padding: 0 10px;
}
