@font-face {
  font-family: 'Futura-Book';
  src: url(/themes/wordplate/assets/fonts/futura-book/Futura-Book.woff) format('woff'),
    url(/themes/wordplate/assets/fonts/futura-book/Futura-Book.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
