@font-face {
  font-family: 'Futura-Book';
  src: url(../static/fonts/futura-book/Futura-Book.woff) format('woff'),
    url(../static/fonts/futura-book/Futura-Book.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
