header {
  margin-bottom: 2rem;
  text-shadow: var(--text-shadow);

  a {
    color: var(--secondary);
  }
}

.branding h1 {
  font-family: 'Futura-Book';
  font-size: 3rem;
}

.burger-menu {
  border: none;
  cursor: pointer;
}

.header-grid {

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-areas:
    "toolbar-left branding toolbar-right"
    "navbar navbar navbar";

  .toolbar-left {
    grid-area: toolbar-left;
    justify-self: start;
  }

  .branding {
    grid-area: branding;
    justify-self: center;
  }

  nav {
    grid-area: navbar;
    justify-self: center;
  }

  .toolbar-right {
    grid-area: toolbar-right;
    justify-self: end;
  }
}

// icons

.icon-wrapper {
  font-size: 1.5rem;
  transition: transform ease 0.3s;
  background-color: transparent;

  &:hover {
    transform: scale(1.3);
  }
}

.item-list {
  display: flex;
}

.item-list a,
.item-list button {
  padding: 10px;
}

.menu-item {
  display: block;
  padding: 10px;
  background-color: transparent;
}


.langage-select {
  gap: 1rem;
}

// nav menus

nav {
  a {
    color: var(--link);
  }
}

@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    position: relative;

    &.is-open .menu {
      left: 0;
    }

    .menu {
      position: absolute;
      width: 100%;
      left: -100%;
      flex-direction: column;
      transition: all 0.3s;
      z-index: 10;
      background-color: var(--primary);

    }
  }
}

.menu {

  margin: 0;
  padding: 0;
  display: flex;

  .menu-item {
    list-style: none;
    position: relative;
  }

  .menu-item a:hover {
    text-decoration: underline;
  }

  .current-menu-item>a,
  .current-lang {
    font-weight: 600;
  }

  .menu-item:hover .sub-menu {
    display: block;
  }

  .sub-menu {
    display: none;
    position: absolute;
    width: max-content;
    padding: 0px;
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

}
