header {
  margin-bottom: 2rem;
  text-shadow: var(--text-shadow);

  a {
    color: var(--secondary);
  }
}

.branding h1 {
  font-family: 'Futura-Book';
  font-size: 3rem;
}


.header-grid {

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-areas:
    "social branding toolbar"
    "navbar navbar navbar";

  .social {
    grid-area: social;
    justify-self: start;
  }

  .branding {
    grid-area: branding;
    justify-self: center;
  }

  nav {
    grid-area: navbar;
    justify-self: center;
  }

  .toolbar {
    grid-area: toolbar;
    justify-self: end;
  }
}

// icons

.icon-group {
  font-size: 1.3rem;

  a {
    transition: transform ease 0.3s;
  }

  a:hover {
    transform: scale(1.3);

  }
}

.social,
.toolbar {

  a {
    color: var(--text);
  }

}

.langage-select {
  gap: 1rem;
}

// nav menus

nav {
  a {
    color: var(--link);
  }
}

.menu {

  margin: 0;
  padding: 0;
  display: flex;

  .menu-item {
    list-style: none;
    position: relative;
  }

  .menu-item a:hover {
    text-decoration: underline;
  }

  .menu-item a {
    display: block;
    padding: 10px;
  }

  .current-menu-item>a,
  .current-lang {
    font-weight: 600;
  }

  .menu-item:hover .sub-menu {
    display: block;
  }

  .sub-menu {
    display: none;
    position: absolute;
    width: max-content;
    padding: 0px;
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

}
