.single-item img{
  margin: 1% auto;
  width: 98%;
  height: auto;
}

@media screen and (max-width:899px) {
  .single-item h1{
    font-size: 20px;
  }
  .item-description{
    margin: 2rem auto;
  }
}

@media screen and (min-width:900px) {

  .single-item {
    display: grid;
    grid-template-areas: "image description";
    grid-template-columns: 60% 40%;

  }

  .grid-image {
    grid-area: image;
  }

  .grid-description {
    grid-area: description;
    padding: 1rem;
  }

}
