.single-item img{
  display: block;
  margin: 1%;
  width: 98%;
  height: auto;
}

@media screen and (max-width:899px) {
  .single-item h1{
    font-size: 20px;
    margin-bottom: 2rem;;
  }
}

@media screen and (min-width:900px) {

  .single-item {
    display: grid;
    grid-template-areas: "image description";
    grid-template-columns: 70% 30%;

  }

  .grid-image {
    grid-area: image;
  }

  .grid-description {
    grid-area: description;
  }

}
