.portfolio-filters {

  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 0.5rem;

  button {
    color: var(--secondary);
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    text-shadow: var(--text-shadow);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.gallery {
  margin: 0 auto;
  max-width: 100vw;

  .portfolio {
    margin-bottom: 20px;

    &-wrapper {
      border-radius: 20px;
      box-shadow: var(--box-shadow);
      overflow: hidden;
    }
  }

  img {
    transition: transform 0.3s, filter 0.3s;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }
  }
}
